.App {
  text-align: center;
}

* {
  text-align: center;
  color: gainsboro;
}

#root,
:root {
  background-color: black !important;
}

.bg-black,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* NAVBAR  */
.custom-navbar {
  box-shadow: rgba(0, 0, 0, 0.295) 0px 14px 28px,
    rgba(0, 0, 0, 0.144) 0px 10px 10px;
  background: rgb(43, 43, 43);
  background: linear-gradient(
    0deg,
    rgba(43, 43, 43, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* HOME  */

#about {
  height: 90vh;
}


/* ICON SKILLS  */

.icon-font {
  font-size: 5rem;
}
